blockquote p span {
    display: inline !important;
}

blockquote[mdtype='blockquote'] p:not(.md-focus-p) {
    border: 1px solid #eef1f4;
}

.md-focus {
    border: 1px dashed #dfe2e5;
}

blockquote .md-focus {
    border: none;
}

.md-line:not(.md-focus) {
    padding: 1px;
}

blockquote .md-focus-p {
    border: 1px solid #d5d8db;
}

blockquote > p:not(:first-child):before {
    content: "请再次敲入回车"
}

blockquote[mdtype='blockquote'] > .md-focus-p:first-child:before {
    background: rgba(0, 0, 0, .1);
}

blockquote:nth-of-type(1) > p:first-child:before {
    content: "图1 "
}

blockquote:nth-of-type(2) > p:first-child:before {
    content: "图2 "
}

blockquote:nth-of-type(3) > p:first-child:before {
    content: "图3 "
}

blockquote:nth-of-type(4) > p:first-child:before {
    content: "图4 "
}

blockquote:nth-of-type(5) > p:first-child:before {
    content: "图5 "
}

blockquote:nth-of-type(6) > p:first-child:before {
    content: "图6 "
}

blockquote:nth-of-type(7) > p:first-child:before {
    content: "图7 "
}

blockquote:nth-of-type(8) > p:first-child:before {
    content: "图8 "
}

blockquote:nth-of-type(9) > p:first-child:before {
    content: "图9 "
}

blockquote:nth-of-type(10) > p:first-child:before {
    content: "图10 "
}

blockquote:nth-of-type(11) > p:first-child:before {
    content: "图11 "
}

blockquote:nth-of-type(12) > p:first-child:before {
    content: "图12 "
}

blockquote:nth-of-type(13) > p:first-child:before {
    content: "图13 "
}

blockquote:nth-of-type(14) > p:first-child:before {
    content: "图14 "
}

blockquote:nth-of-type(15) > p:first-child:before {
    content: "图15 "
}

blockquote:nth-of-type(16) > p:first-child:before {
    content: "图16 "
}

blockquote:nth-of-type(17) > p:first-child:before {
    content: "图17 "
}

blockquote:nth-of-type(18) > p:first-child:before {
    content: "图18 "
}

blockquote:nth-of-type(19) > p:first-child:before {
    content: "图19 "
}

blockquote:nth-of-type(20) > p:first-child:before {
    content: "图20 "
}

blockquote:nth-of-type(21) > p:first-child:before {
    content: "图21 "
}

blockquote:nth-of-type(22) > p:first-child:before {
    content: "图22 "
}

blockquote:nth-of-type(23) > p:first-child:before {
    content: "图23 "
}

blockquote:nth-of-type(24) > p:first-child:before {
    content: "图24 "
}

blockquote:nth-of-type(25) > p:first-child:before {
    content: "图25 "
}

blockquote:nth-of-type(26) > p:first-child:before {
    content: "图26 "
}

blockquote:nth-of-type(27) > p:first-child:before {
    content: "图27 "
}

blockquote:nth-of-type(28) > p:first-child:before {
    content: "图28 "
}

blockquote:nth-of-type(29) > p:first-child:before {
    content: "图29 "
}

blockquote:nth-of-type(30) > p:first-child:before {
    content: "图30 "
}

blockquote:nth-of-type(31) > p:first-child:before {
    content: "图31 "
}

blockquote:nth-of-type(32) > p:first-child:before {
    content: "图32 "
}

blockquote:nth-of-type(33) > p:first-child:before {
    content: "图33 "
}

blockquote:nth-of-type(34) > p:first-child:before {
    content: "图34 "
}

blockquote:nth-of-type(35) > p:first-child:before {
    content: "图35 "
}

blockquote:nth-of-type(36) > p:first-child:before {
    content: "图36 "
}

blockquote:nth-of-type(37) > p:first-child:before {
    content: "图37 "
}

blockquote:nth-of-type(38) > p:first-child:before {
    content: "图38 "
}

blockquote:nth-of-type(39) > p:first-child:before {
    content: "图39 "
}

blockquote:nth-of-type(40) > p:first-child:before {
    content: "图40 "
}

blockquote:nth-of-type(41) > p:first-child:before {
    content: "图41 "
}

blockquote:nth-of-type(42) > p:first-child:before {
    content: "图42 "
}

blockquote:nth-of-type(43) > p:first-child:before {
    content: "图43 "
}

blockquote:nth-of-type(44) > p:first-child:before {
    content: "图44 "
}

blockquote:nth-of-type(45) > p:first-child:before {
    content: "图45 "
}

blockquote:nth-of-type(46) > p:first-child:before {
    content: "图46 "
}

blockquote:nth-of-type(47) > p:first-child:before {
    content: "图47 "
}

blockquote:nth-of-type(48) > p:first-child:before {
    content: "图48 "
}

blockquote:nth-of-type(49) > p:first-child:before {
    content: "图49 "
}

blockquote:nth-of-type(50) > p:first-child:before {
    content: "图50 "
}

blockquote:nth-of-type(51) > p:first-child:before {
    content: "图51 "
}

blockquote:nth-of-type(52) > p:first-child:before {
    content: "图52 "
}

blockquote:nth-of-type(53) > p:first-child:before {
    content: "图53 "
}

blockquote:nth-of-type(54) > p:first-child:before {
    content: "图54 "
}

blockquote:nth-of-type(55) > p:first-child:before {
    content: "图55 "
}

blockquote:nth-of-type(56) > p:first-child:before {
    content: "图56 "
}

blockquote:nth-of-type(57) > p:first-child:before {
    content: "图57 "
}

blockquote:nth-of-type(58) > p:first-child:before {
    content: "图58 "
}

blockquote:nth-of-type(59) > p:first-child:before {
    content: "图59 "
}

blockquote:nth-of-type(60) > p:first-child:before {
    content: "图60 "
}

blockquote:nth-of-type(61) > p:first-child:before {
    content: "图61 "
}

blockquote:nth-of-type(62) > p:first-child:before {
    content: "图62 "
}

blockquote:nth-of-type(63) > p:first-child:before {
    content: "图63 "
}

blockquote:nth-of-type(64) > p:first-child:before {
    content: "图64 "
}

blockquote:nth-of-type(65) > p:first-child:before {
    content: "图65 "
}

blockquote:nth-of-type(66) > p:first-child:before {
    content: "图66 "
}

blockquote:nth-of-type(67) > p:first-child:before {
    content: "图67 "
}

blockquote:nth-of-type(68) > p:first-child:before {
    content: "图68 "
}

blockquote:nth-of-type(69) > p:first-child:before {
    content: "图69 "
}

blockquote:nth-of-type(70) > p:first-child:before {
    content: "图70 "
}

blockquote:nth-of-type(71) > p:first-child:before {
    content: "图71 "
}

blockquote:nth-of-type(72) > p:first-child:before {
    content: "图72 "
}

blockquote:nth-of-type(73) > p:first-child:before {
    content: "图73 "
}

blockquote:nth-of-type(74) > p:first-child:before {
    content: "图74 "
}

blockquote:nth-of-type(75) > p:first-child:before {
    content: "图75 "
}

blockquote:nth-of-type(76) > p:first-child:before {
    content: "图76 "
}

blockquote:nth-of-type(77) > p:first-child:before {
    content: "图77 "
}

blockquote:nth-of-type(78) > p:first-child:before {
    content: "图78 "
}

blockquote:nth-of-type(79) > p:first-child:before {
    content: "图79 "
}

blockquote:nth-of-type(80) > p:first-child:before {
    content: "图80 "
}

blockquote:nth-of-type(81) > p:first-child:before {
    content: "图81 "
}

blockquote:nth-of-type(82) > p:first-child:before {
    content: "图82 "
}

blockquote:nth-of-type(83) > p:first-child:before {
    content: "图83 "
}

blockquote:nth-of-type(84) > p:first-child:before {
    content: "图84 "
}

blockquote:nth-of-type(85) > p:first-child:before {
    content: "图85 "
}

blockquote:nth-of-type(86) > p:first-child:before {
    content: "图86 "
}

blockquote:nth-of-type(87) > p:first-child:before {
    content: "图87 "
}

blockquote:nth-of-type(88) > p:first-child:before {
    content: "图88 "
}

blockquote:nth-of-type(89) > p:first-child:before {
    content: "图89 "
}

blockquote:nth-of-type(90) > p:first-child:before {
    content: "图90 "
}

blockquote:nth-of-type(91) > p:first-child:before {
    content: "图91 "
}

blockquote:nth-of-type(92) > p:first-child:before {
    content: "图92 "
}

blockquote:nth-of-type(93) > p:first-child:before {
    content: "图93 "
}

blockquote:nth-of-type(94) > p:first-child:before {
    content: "图94 "
}

blockquote:nth-of-type(95) > p:first-child:before {
    content: "图95 "
}

blockquote:nth-of-type(96) > p:first-child:before {
    content: "图96 "
}

blockquote:nth-of-type(97) > p:first-child:before {
    content: "图97 "
}

blockquote:nth-of-type(98) > p:first-child:before {
    content: "图98 "
}

blockquote:nth-of-type(99) > p:first-child:before {
    content: "图99 "
}

blockquote:nth-of-type(100) > p:first-child:before {
    content: "图100 "
}

blockquote:nth-of-type(101) > p:first-child:before {
    content: "图101 "
}

blockquote:nth-of-type(102) > p:first-child:before {
    content: "图102 "
}

blockquote:nth-of-type(103) > p:first-child:before {
    content: "图103 "
}

blockquote:nth-of-type(104) > p:first-child:before {
    content: "图104 "
}

blockquote:nth-of-type(105) > p:first-child:before {
    content: "图105 "
}

blockquote:nth-of-type(106) > p:first-child:before {
    content: "图106 "
}

blockquote:nth-of-type(107) > p:first-child:before {
    content: "图107 "
}

blockquote:nth-of-type(108) > p:first-child:before {
    content: "图108 "
}

blockquote:nth-of-type(109) > p:first-child:before {
    content: "图109 "
}

blockquote:nth-of-type(110) > p:first-child:before {
    content: "图110 "
}

blockquote:nth-of-type(111) > p:first-child:before {
    content: "图111 "
}

blockquote:nth-of-type(112) > p:first-child:before {
    content: "图112 "
}

blockquote:nth-of-type(113) > p:first-child:before {
    content: "图113 "
}

blockquote:nth-of-type(114) > p:first-child:before {
    content: "图114 "
}

blockquote:nth-of-type(115) > p:first-child:before {
    content: "图115 "
}

blockquote:nth-of-type(116) > p:first-child:before {
    content: "图116 "
}

blockquote:nth-of-type(117) > p:first-child:before {
    content: "图117 "
}

blockquote:nth-of-type(118) > p:first-child:before {
    content: "图118 "
}

blockquote:nth-of-type(119) > p:first-child:before {
    content: "图119 "
}

blockquote:nth-of-type(120) > p:first-child:before {
    content: "图120 "
}

blockquote:nth-of-type(121) > p:first-child:before {
    content: "图121 "
}

blockquote:nth-of-type(122) > p:first-child:before {
    content: "图122 "
}

blockquote:nth-of-type(123) > p:first-child:before {
    content: "图123 "
}

blockquote:nth-of-type(124) > p:first-child:before {
    content: "图124 "
}

blockquote:nth-of-type(125) > p:first-child:before {
    content: "图125 "
}

blockquote:nth-of-type(126) > p:first-child:before {
    content: "图126 "
}

blockquote:nth-of-type(127) > p:first-child:before {
    content: "图127 "
}

blockquote:nth-of-type(128) > p:first-child:before {
    content: "图128 "
}

blockquote:nth-of-type(129) > p:first-child:before {
    content: "图129 "
}

blockquote:nth-of-type(130) > p:first-child:before {
    content: "图130 "
}

blockquote:nth-of-type(131) > p:first-child:before {
    content: "图131 "
}

blockquote:nth-of-type(132) > p:first-child:before {
    content: "图132 "
}

blockquote:nth-of-type(133) > p:first-child:before {
    content: "图133 "
}

blockquote:nth-of-type(134) > p:first-child:before {
    content: "图134 "
}

blockquote:nth-of-type(135) > p:first-child:before {
    content: "图135 "
}

blockquote:nth-of-type(136) > p:first-child:before {
    content: "图136 "
}

blockquote:nth-of-type(137) > p:first-child:before {
    content: "图137 "
}

blockquote:nth-of-type(138) > p:first-child:before {
    content: "图138 "
}

blockquote:nth-of-type(139) > p:first-child:before {
    content: "图139 "
}

blockquote:nth-of-type(140) > p:first-child:before {
    content: "图140 "
}

blockquote:nth-of-type(141) > p:first-child:before {
    content: "图141 "
}

blockquote:nth-of-type(142) > p:first-child:before {
    content: "图142 "
}

blockquote:nth-of-type(143) > p:first-child:before {
    content: "图143 "
}

blockquote:nth-of-type(144) > p:first-child:before {
    content: "图144 "
}

blockquote:nth-of-type(145) > p:first-child:before {
    content: "图145 "
}

blockquote:nth-of-type(146) > p:first-child:before {
    content: "图146 "
}

blockquote:nth-of-type(147) > p:first-child:before {
    content: "图147 "
}

blockquote:nth-of-type(148) > p:first-child:before {
    content: "图148 "
}

blockquote:nth-of-type(149) > p:first-child:before {
    content: "图149 "
}

blockquote:nth-of-type(150) > p:first-child:before {
    content: "图150 "
}

blockquote:nth-of-type(151) > p:first-child:before {
    content: "图151 "
}

blockquote:nth-of-type(152) > p:first-child:before {
    content: "图152 "
}

blockquote:nth-of-type(153) > p:first-child:before {
    content: "图153 "
}

blockquote:nth-of-type(154) > p:first-child:before {
    content: "图154 "
}

blockquote:nth-of-type(155) > p:first-child:before {
    content: "图155 "
}

blockquote:nth-of-type(156) > p:first-child:before {
    content: "图156 "
}

blockquote:nth-of-type(157) > p:first-child:before {
    content: "图157 "
}

blockquote:nth-of-type(158) > p:first-child:before {
    content: "图158 "
}

blockquote:nth-of-type(159) > p:first-child:before {
    content: "图159 "
}

blockquote:nth-of-type(160) > p:first-child:before {
    content: "图160 "
}

blockquote:nth-of-type(161) > p:first-child:before {
    content: "图161 "
}

blockquote:nth-of-type(162) > p:first-child:before {
    content: "图162 "
}

blockquote:nth-of-type(163) > p:first-child:before {
    content: "图163 "
}

blockquote:nth-of-type(164) > p:first-child:before {
    content: "图164 "
}

blockquote:nth-of-type(165) > p:first-child:before {
    content: "图165 "
}

blockquote:nth-of-type(166) > p:first-child:before {
    content: "图166 "
}

blockquote:nth-of-type(167) > p:first-child:before {
    content: "图167 "
}

blockquote:nth-of-type(168) > p:first-child:before {
    content: "图168 "
}

blockquote:nth-of-type(169) > p:first-child:before {
    content: "图169 "
}

blockquote:nth-of-type(170) > p:first-child:before {
    content: "图170 "
}

blockquote:nth-of-type(171) > p:first-child:before {
    content: "图171 "
}

blockquote:nth-of-type(172) > p:first-child:before {
    content: "图172 "
}

blockquote:nth-of-type(173) > p:first-child:before {
    content: "图173 "
}

blockquote:nth-of-type(174) > p:first-child:before {
    content: "图174 "
}

blockquote:nth-of-type(175) > p:first-child:before {
    content: "图175 "
}

blockquote:nth-of-type(176) > p:first-child:before {
    content: "图176 "
}

blockquote:nth-of-type(177) > p:first-child:before {
    content: "图177 "
}

blockquote:nth-of-type(178) > p:first-child:before {
    content: "图178 "
}

blockquote:nth-of-type(179) > p:first-child:before {
    content: "图179 "
}

blockquote:nth-of-type(180) > p:first-child:before {
    content: "图180 "
}

blockquote:nth-of-type(181) > p:first-child:before {
    content: "图181 "
}

blockquote:nth-of-type(182) > p:first-child:before {
    content: "图182 "
}

blockquote:nth-of-type(183) > p:first-child:before {
    content: "图183 "
}

blockquote:nth-of-type(184) > p:first-child:before {
    content: "图184 "
}

blockquote:nth-of-type(185) > p:first-child:before {
    content: "图185 "
}

blockquote:nth-of-type(186) > p:first-child:before {
    content: "图186 "
}

blockquote:nth-of-type(187) > p:first-child:before {
    content: "图187 "
}

blockquote:nth-of-type(188) > p:first-child:before {
    content: "图188 "
}

blockquote:nth-of-type(189) > p:first-child:before {
    content: "图189 "
}

blockquote:nth-of-type(190) > p:first-child:before {
    content: "图190 "
}

blockquote:nth-of-type(191) > p:first-child:before {
    content: "图191 "
}

blockquote:nth-of-type(192) > p:first-child:before {
    content: "图192 "
}

blockquote:nth-of-type(193) > p:first-child:before {
    content: "图193 "
}

blockquote:nth-of-type(194) > p:first-child:before {
    content: "图194 "
}

blockquote:nth-of-type(195) > p:first-child:before {
    content: "图195 "
}

blockquote:nth-of-type(196) > p:first-child:before {
    content: "图196 "
}

blockquote:nth-of-type(197) > p:first-child:before {
    content: "图197 "
}

blockquote:nth-of-type(198) > p:first-child:before {
    content: "图198 "
}

blockquote:nth-of-type(199) > p:first-child:before {
    content: "图199 "
}

blockquote:nth-of-type(200) > p:first-child:before {
    content: "图200 "
}

blockquote:nth-of-type(201) > p:first-child:before {
    content: "图201 "
}

blockquote:nth-of-type(202) > p:first-child:before {
    content: "图202 "
}

blockquote:nth-of-type(203) > p:first-child:before {
    content: "图203 "
}

blockquote:nth-of-type(204) > p:first-child:before {
    content: "图204 "
}

blockquote:nth-of-type(205) > p:first-child:before {
    content: "图205 "
}

blockquote:nth-of-type(206) > p:first-child:before {
    content: "图206 "
}

blockquote:nth-of-type(207) > p:first-child:before {
    content: "图207 "
}

blockquote:nth-of-type(208) > p:first-child:before {
    content: "图208 "
}

blockquote:nth-of-type(209) > p:first-child:before {
    content: "图209 "
}

blockquote:nth-of-type(210) > p:first-child:before {
    content: "图210 "
}

blockquote:nth-of-type(211) > p:first-child:before {
    content: "图211 "
}

blockquote:nth-of-type(212) > p:first-child:before {
    content: "图212 "
}

blockquote:nth-of-type(213) > p:first-child:before {
    content: "图213 "
}

blockquote:nth-of-type(214) > p:first-child:before {
    content: "图214 "
}

blockquote:nth-of-type(215) > p:first-child:before {
    content: "图215 "
}

blockquote:nth-of-type(216) > p:first-child:before {
    content: "图216 "
}

blockquote:nth-of-type(217) > p:first-child:before {
    content: "图217 "
}

blockquote:nth-of-type(218) > p:first-child:before {
    content: "图218 "
}

blockquote:nth-of-type(219) > p:first-child:before {
    content: "图219 "
}

blockquote:nth-of-type(220) > p:first-child:before {
    content: "图220 "
}

blockquote:nth-of-type(221) > p:first-child:before {
    content: "图221 "
}

blockquote:nth-of-type(222) > p:first-child:before {
    content: "图222 "
}

blockquote:nth-of-type(223) > p:first-child:before {
    content: "图223 "
}

blockquote:nth-of-type(224) > p:first-child:before {
    content: "图224 "
}

blockquote:nth-of-type(225) > p:first-child:before {
    content: "图225 "
}

blockquote:nth-of-type(226) > p:first-child:before {
    content: "图226 "
}

blockquote:nth-of-type(227) > p:first-child:before {
    content: "图227 "
}

blockquote:nth-of-type(228) > p:first-child:before {
    content: "图228 "
}

blockquote:nth-of-type(229) > p:first-child:before {
    content: "图229 "
}

blockquote:nth-of-type(230) > p:first-child:before {
    content: "图230 "
}

blockquote:nth-of-type(231) > p:first-child:before {
    content: "图231 "
}

blockquote:nth-of-type(232) > p:first-child:before {
    content: "图232 "
}

blockquote:nth-of-type(233) > p:first-child:before {
    content: "图233 "
}

blockquote:nth-of-type(234) > p:first-child:before {
    content: "图234 "
}

blockquote:nth-of-type(235) > p:first-child:before {
    content: "图235 "
}

blockquote:nth-of-type(236) > p:first-child:before {
    content: "图236 "
}

blockquote:nth-of-type(237) > p:first-child:before {
    content: "图237 "
}

blockquote:nth-of-type(238) > p:first-child:before {
    content: "图238 "
}

blockquote:nth-of-type(239) > p:first-child:before {
    content: "图239 "
}

blockquote:nth-of-type(240) > p:first-child:before {
    content: "图240 "
}

blockquote:nth-of-type(241) > p:first-child:before {
    content: "图241 "
}

blockquote:nth-of-type(242) > p:first-child:before {
    content: "图242 "
}

blockquote:nth-of-type(243) > p:first-child:before {
    content: "图243 "
}

blockquote:nth-of-type(244) > p:first-child:before {
    content: "图244 "
}

blockquote:nth-of-type(245) > p:first-child:before {
    content: "图245 "
}

blockquote:nth-of-type(246) > p:first-child:before {
    content: "图246 "
}

blockquote:nth-of-type(247) > p:first-child:before {
    content: "图247 "
}

blockquote:nth-of-type(248) > p:first-child:before {
    content: "图248 "
}

blockquote:nth-of-type(249) > p:first-child:before {
    content: "图249 "
}

blockquote:nth-of-type(250) > p:first-child:before {
    content: "图250 "
}

blockquote:nth-of-type(251) > p:first-child:before {
    content: "图251 "
}

blockquote:nth-of-type(252) > p:first-child:before {
    content: "图252 "
}

blockquote:nth-of-type(253) > p:first-child:before {
    content: "图253 "
}

blockquote:nth-of-type(254) > p:first-child:before {
    content: "图254 "
}

blockquote:nth-of-type(255) > p:first-child:before {
    content: "图255 "
}

blockquote:nth-of-type(256) > p:first-child:before {
    content: "图256 "
}

blockquote:nth-of-type(257) > p:first-child:before {
    content: "图257 "
}

blockquote:nth-of-type(258) > p:first-child:before {
    content: "图258 "
}

blockquote:nth-of-type(259) > p:first-child:before {
    content: "图259 "
}

blockquote:nth-of-type(260) > p:first-child:before {
    content: "图260 "
}

blockquote:nth-of-type(261) > p:first-child:before {
    content: "图261 "
}

blockquote:nth-of-type(262) > p:first-child:before {
    content: "图262 "
}

blockquote:nth-of-type(263) > p:first-child:before {
    content: "图263 "
}

blockquote:nth-of-type(264) > p:first-child:before {
    content: "图264 "
}

blockquote:nth-of-type(265) > p:first-child:before {
    content: "图265 "
}

blockquote:nth-of-type(266) > p:first-child:before {
    content: "图266 "
}

blockquote:nth-of-type(267) > p:first-child:before {
    content: "图267 "
}

blockquote:nth-of-type(268) > p:first-child:before {
    content: "图268 "
}

blockquote:nth-of-type(269) > p:first-child:before {
    content: "图269 "
}

blockquote:nth-of-type(270) > p:first-child:before {
    content: "图270 "
}

blockquote:nth-of-type(271) > p:first-child:before {
    content: "图271 "
}

blockquote:nth-of-type(272) > p:first-child:before {
    content: "图272 "
}

blockquote:nth-of-type(273) > p:first-child:before {
    content: "图273 "
}

blockquote:nth-of-type(274) > p:first-child:before {
    content: "图274 "
}

blockquote:nth-of-type(275) > p:first-child:before {
    content: "图275 "
}

blockquote:nth-of-type(276) > p:first-child:before {
    content: "图276 "
}

blockquote:nth-of-type(277) > p:first-child:before {
    content: "图277 "
}

blockquote:nth-of-type(278) > p:first-child:before {
    content: "图278 "
}

blockquote:nth-of-type(279) > p:first-child:before {
    content: "图279 "
}

blockquote:nth-of-type(280) > p:first-child:before {
    content: "图280 "
}

blockquote:nth-of-type(281) > p:first-child:before {
    content: "图281 "
}

blockquote:nth-of-type(282) > p:first-child:before {
    content: "图282 "
}

blockquote:nth-of-type(283) > p:first-child:before {
    content: "图283 "
}

blockquote:nth-of-type(284) > p:first-child:before {
    content: "图284 "
}

blockquote:nth-of-type(285) > p:first-child:before {
    content: "图285 "
}

blockquote:nth-of-type(286) > p:first-child:before {
    content: "图286 "
}

blockquote:nth-of-type(287) > p:first-child:before {
    content: "图287 "
}

blockquote:nth-of-type(288) > p:first-child:before {
    content: "图288 "
}

blockquote:nth-of-type(289) > p:first-child:before {
    content: "图289 "
}

blockquote:nth-of-type(290) > p:first-child:before {
    content: "图290 "
}

blockquote:nth-of-type(291) > p:first-child:before {
    content: "图291 "
}

blockquote:nth-of-type(292) > p:first-child:before {
    content: "图292 "
}

blockquote:nth-of-type(293) > p:first-child:before {
    content: "图293 "
}

blockquote:nth-of-type(294) > p:first-child:before {
    content: "图294 "
}

blockquote:nth-of-type(295) > p:first-child:before {
    content: "图295 "
}

blockquote:nth-of-type(296) > p:first-child:before {
    content: "图296 "
}

blockquote:nth-of-type(297) > p:first-child:before {
    content: "图297 "
}

blockquote:nth-of-type(298) > p:first-child:before {
    content: "图298 "
}

blockquote:nth-of-type(299) > p:first-child:before {
    content: "图299 "
}

blockquote:nth-of-type(300) > p:first-child:before {
    content: "图300 "
}